* {
    font-family: 'Poppins', sans-serif;
}
.swiper-container {
    position: relative;
    overflow: hidden;
}
.swiper-pagination {
    position: absolute;
    z-index: 10;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #fff;
    opacity: 0.5;
    margin: 0 4px;
    border-radius: 50%;
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #b64931;
}
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
    background: #b64931;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #b64931;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #b64931 #f1f1f1;
}

@media (max-width: 768px) {
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
    html,body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .text-3xl {
        font-size: 1.75rem;
    }
    .text-xl {
        font-size: 1.25rem;
    }
    .py-10 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
header a {
position: relative;
text-decoration: none; /* Optional: to remove default underline */
color: inherit; /* Optional: to inherit the text color */
}

header a::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 1px;
background-color: #b64931;
transition: width 0.5s ease-in-out;
}

header a:hover::after {
width: 100%;
}

.font-semibold {
    font-weight: 500;
}



